html, body {
    min-width: 100%;
    height: 100%;
    min-height: 100%;
 	background-position: center center;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}
.crossfade {
    position: relative;
}


.top{
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    background-image:url("top.jpg");
 	background-position: center center;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
	z-index: 1;	

}

#bigmessage{
	color: white;
	font-size: 900%;
	font-family: 'Oswald', sans-serif;
	position: relative;
	top: 200px;
	z-index: 2;
}

@media (max-width: 800px) { 
	#bigmessage {
	font-size: 400%;
	}
}

#smallmessage{
	color: white;
	font-size: 200%;
	font-family: 'Oswald', sans-serif;
	position: relative;
	top: 220px;
		z-index: 2;
}


.col-xs-12,.col-sm-6,.row,.container{
	padding-left:0px;
	padding-right:0px;
	margin-right:0px;
	margin-left: 0px;
}


.rapper1{
background-color: rgb(245,245,245);
}

.rapper2{
background-color:black;
color: white;
}

.text{
	font-size: 300%;
	font-family: 'Oswald', sans-serif;
	position: relative;
}
.text > span {
	position: absolute;
	text-align: center;
	top: 50%;
	margin-top: -30px;
	width: 100%;
	display: inline-block;
}
.img-responsive, .text{
	height: 400px;
	width: 100%;
}
.img-responsive {
	background: url(1.jpg);
	background-size: cover;
}

@media (max-width: 922px) { 
	.text > span {
		margin-top: -60px;
	}
}





.experience{
	min-width: 100%;
    height: 100%;
    min-height: 100%;
    background-image:url("experience.jpg");
 	background-position: center center;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
  　background-color: #464646;
}

#bigmessage2{
	color: white;
	font-size: 650%;
	font-family: 'Oswald', sans-serif;
	position: relative;
	top: 50px;

}

@media (max-width: 800px) { 
	#bigmessage2 {
	font-size: 300%;
	}
}
#smallmessage2{
	color: white;
	font-size: 200%;
	font-family: 'Oswald', sans-serif;
	position: relative;
	top: 70px;
	padding-bottom: 80px;
}

.codearea{
	background-color: black;
	width: 80%;
	height: 70%;
	opacity: 0.6;

}

@media (max-width: 800px) { 
	.bigmassage2{
	position:absolute;
	top: -30px;
	}

	.codearea {
	width: 100%;
	height: 70%;
	}
}






.experience2{
	min-width: 100%;
    height: 100%;
    min-height: 100%;
    background-image:url("experience2.jpg");
 	background-position: center center;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
  　background-color: #464646;
}

.smallmessage3{
	color: white;
	font-size: 200%;
	font-family: 'Oswald', sans-serif;
	position: relative;
	top: 70px;
	padding-bottom: 30px;
}

.bigmessage3{
	color: white;
	font-size: 650%;
	font-family: 'Oswald', sans-serif;
	position: relative;
	top: 50px;
	padding-bottom: 50px;

}

@media (max-width: 800px) { 
	.bigmessage3 {
	font-size: 300%;
	}
	.experience2{
	min-width: 100%;
    height: 100%;
    min-height: 100%;
    background-image:url("experience2.jpg");
 	background-position: center center;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
  　background-color: #464646;
	}

}

.codearea2{
	background-color: black;
	width: 80%;
	height: 70%;
	opacity: 0.6;

}

@media (max-width: 800px) { 
	.codearea2 {
	width: 100%;
	height: 70%;

	}
}

